
@font-face {
    font-family: 'Sharp Grotesk Medium';
    src: url('fonts/sharp-grotesk-20-medium-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sharp Grotesk Regular';
    src: url('fonts/sharp-grotesk-book-20-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-family-serif:         "Sharp Grotesk Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif:	"Sharp Grotesk Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family:      "Sharp Grotesk Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$headings-font-weight:		normal !default;
$font-weight-base:          normal;
$line-height-base:          1.8 !default;
$font-family-base:          $font-family-sans-serif !default;


$ice:       #4A6DCE;      
$on-green:  #12C35A;
$heat:      #F96155;
$water:     #011F44;
$toast:     #FFA878;

$blue:      $ice;
$darkblue:  $water;
$red:       $heat;
$orange:    $toast;
$green:     $on-green;

$primary:   $darkblue !default;


.green {
    color: $on-green;
}

.red {
    color: $heat;
}

.light-blue  {
    color: $ice;
}


.btn-primary.active		{
}

$carousel-transition-duration:       0s !default;